<h2>Projects</h2>
<div>
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <div class="col-md-6 col-xl-4" onclick="/projects/{{ item.page-name }}">
    {% else %}
    <div class="col-md-6 col-xl-4">
    {% endif %}

        

    <div class="row card">
        <div class="col-10">
                    <p class="title">{{ item.title }} </p>
                    <p class="location">{{ item.event }}</p>
                    <p class="dates">{{ item.date }}</p>
        </div>
        <div class="col-2">
            <div class="widget-numbers text-white"><span class="badge badge-secondary">private</span></div>
        </div>
    </div>
</div>



    {% endfor %}
  </div>
  
