<h2>Projects</h2>
<div class="row m-5">
    {% for item in site.data.projects %}
    {% if item.page-name %}
        <div class="col-4 row card" onclick="/projects/{{ item.page-name }}">
        {% else %}
        <div class="row card">
        {% endif %}




                <div class="col-10">
                    <p class="h5"><strong>{{ item.title }} </strong></p>
                            <p class="h6">{{ item.event }}</p>
                    <p class="h6 text-muted"><small>{{ item.date }}</small></p>
                </div>
                <div class="col-2">
                    <div class="widget-numbers text-white float-right"><span class="badge badge-secondary">private</span></div>
                </div>
        </div>




    {% endfor %}
  </div>
  
